{% extends 'product/product-list-base.html.twig' %}

{% block productheader %}  
    <div class ="product-list-nav-title">
        <h2>Najchętniej kupowane</h2>
    </div>
                
{% endblock %}
{% block pagination %}
{% endblock %}
