{% extends 'product/product-list-base.html.twig' %}

    {% block productheader %} 

    {# display searching phrase or name of subcategory #}
    {% if not app.request.get('categoryname')  %}
            {% if products is empty %}
                <h2>Brak wyników wyszukiwania dla: "{{app.request.query.get('searchby')}}"</h2>
            {% else %}
                <h2>Wyniki dla wyszukiwania: "{{app.request.query.get('searchby')}}"</h2>
            {% endif %}
        </div>        
    {% else %}
        <div class ="product-list-nav-title">
            <h2>{{ app.request.get('categoryname')|capitalize|replace({'-': ' ',}) }}</h2>
        </div>
    {% endif %}
            <div class ="product-list-nav-sort">
                <form id="from-sort" action="" method="GET">
                    <select name="sortby" class="form-select-color:red" onchange='this.form.submit();'>
                        <option selected>Sortowanie</option>
                        {# <option value="rating">Najwyżej oceniane</option> #}
                        <option value="title">Alfabetycznie</option>
                        <option value="price_asc">Cena rosnąco</option>
                        <option value="price_desc">Cena malejąco</option>
                    </select>
                    {% if query is defined %}
                        <input type="hidden" name="query" value="{{query}}">
                    {% endif %}
                </form>
            </div>            
{% endblock %}
