@import "~bootstrap/scss/bootstrap";

$main-color: rgb(89, 61, 116);
$background-main-color: rgb(99, 163, 114);
$text-main-color: rgb(77, 74, 74);

//header
.navbar.navbar-expand-lg {
    border-bottom: 3px solid $main-color;
}

.navbar-brand {
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    color: $main-color;
    margin-right: 30px;
}

.input-group.rounded {
    color: $text-main-color;
}

.nav-link {
    color: $text-main-color;
    font-weight: 500;
}

//nav
.col-sm-12.col-md-2.pt-4 ul li {
    list-style-type: none;
    text-indent: -3rem;

    ul li {
        list-style-type: none;
        text-indent: -4rem;

        a {
            text-decoration: none;
            color: rgb(73, 72, 72);
        }
    }
}

//aside
aside {
    text-align: justify;
}


//footer
footer {
    height: 50px;
    background-color: $background-main-color;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top: 3px solid black;
    width: 100%;

}


//products/product-list
.product-list-nav {
    display: flex;
}

.product-list-nav-sort {
    margin-left:auto;
}

.product-cart-body-info {
    display: flex;
}

.product-cart-body-info-opinion {
    margin-left:auto;
}
