<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Shop!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>

    <body>
        <header>
            {% block header %}
                {% include 'header/header.html.twig' %}
            {% endblock %}
        </header>

        <div class="container">
            <div class="row">
                <nav class="col-sm-12 col-md-2 py-5">
                    {% block nav %}
                        {% include 'nav/nav.html.twig' %}
                    {% endblock %}
                </nav>
                
                <main class="col-sm-12 col-md-10">
                    <div class="row">
                        <article class="col-sm-12 col-lg-10 px-3">
                            {% block body %}
                            
                            {% endblock %}
                        </article>
                        <aside class="d-nome d-lg-block col-lg-2 p-4 mt-3 ">
                            {% block aside %}
                                {% include 'aside/aside.html.twig' %}
                            {% endblock %}
                        </aside>
                    </div>
                </main>
            </div>
        </div>

        <footer>
            {% include 'footer/footer.html.twig' %}
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
