{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
        <div>
            <a href= "{{path('app_logout')}}">Wyloguj</a>
        </div>
{% endblock %}
