{% extends 'base.html.twig' %}

{% block body %}
        <div>
            background-color: rgb(199, 202, 199);
            background-color: rgb(199, 202, 199);
            background-color: rgb(199, 202, 199);
        </div>
{% endblock %}
